<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>166686202152-2gm8ugel5lspovog00ld9fvuujik0hpq.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.166686202152-2gm8ugel5lspovog00ld9fvuujik0hpq</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>166686202152-ajmgv93os2d0dupgd66av2onof96q6ds.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyDf7k_JbQ3XM6XFzX509XUwLhTk1pC4IbQ</string>
	<key>GCM_SENDER_ID</key>
	<string>166686202152</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.flutterflow.mywayeu</string>
	<key>PROJECT_ID</key>
	<string>mywayeu-b122e</string>
	<key>STORAGE_BUCKET</key>
	<string>mywayeu-b122e.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:166686202152:ios:6f8f878ceb7dc29943981d</string>
</dict>
</plist>