<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>875446636613-d5li3bvruou3luknjd3mng07bp8tnmho.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.875446636613-d5li3bvruou3luknjd3mng07bp8tnmho</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>875446636613-c58rcgbrq299117n0pt90s2n21stmle6.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyB9VnuAVHRR4s5WcPM5lpra4C3g_hNElsU</string>
	<key>GCM_SENDER_ID</key>
	<string>875446636613</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.mycompany.happydelivery</string>
	<key>PROJECT_ID</key>
	<string>happydelivery-44ca6</string>
	<key>STORAGE_BUCKET</key>
	<string>happydelivery-44ca6.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:875446636613:ios:40cf1801ea8e64be90932c</string>
</dict>
</plist>