<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>10549277402-uk5v3vbqgqqohq59a73vkq1jn7m9glnh.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.10549277402-uk5v3vbqgqqohq59a73vkq1jn7m9glnh</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>10549277402-3r1dkpg1iiveeir7b98sombcf50nbiq8.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyBFzUfrCMlhz3rOIMZCQwee8SVkPYicfUQ</string>
	<key>GCM_SENDER_ID</key>
	<string>10549277402</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>Kaleo.Sclub.app</string>
	<key>PROJECT_ID</key>
	<string>sclub-abcd</string>
	<key>STORAGE_BUCKET</key>
	<string>sclub-abcd.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:10549277402:ios:8f2561832bcfd8d8dfebe3</string>
</dict>
</plist>